<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/compiled.css" />
    <script src="~/Scripts/require.js"></script>
    <script src="~/Scripts/compiled.js"></script>
</head>
<body>
    <div style="margin: 0 auto; width: 968px;">
        @RenderBody()
    </div>

</body>
</html>