<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="lessCmd" value="C:\Users\vlebedev\AppData\Roaming\npm\lessc.cmd"/>
    <add key="lessTarget" value="D:\Projs\proto\Dnevnik.Proto\Dnevnik.Web\Content\"/>
    <add key="tscCmd" value="C:\Users\vlebedev\AppData\Roaming\npm\tsc.cmd"/>
    <add key="tscTarget" value="D:\Projs\proto\Dnevnik.Proto\Dnevnik.Web\Content\"/>
  </appSettings>
</configuration>