<div class="menu">
    <ul class="menu__layout">
        <li class="menu__layout-item">
            <a href="#" class="menu__item__link menu__item__link_active">Мой дневник</a>
            <ul class="menu__item__submenu__layout menu__item__submenu__layout_active">
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        @Model
                    </a>
                </li>
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        @Html.Render("SomeShit");
                    </a>
                </li>
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        Почта
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu__layout-item">
            <a href="#" class="menu__item__link">Общение</a>
            <ul class="menu__item__submenu__layout">
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        Люди
                    </a>
                </li>
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        Группы
                    </a>
                </li>
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        События
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu__layout-item">
            <a href="#" class="menu__item__link">Школа</a>
            <ul class="menu__item__submenu__layout">
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        Расписания
                    </a>
                </li>
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        Журналы
                    </a>
                </li>
                <li class="menu__item__submenu__layout-item">
                    <a href="#" class="menu__item__submenu__item">
                        Отчёты
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
