
<div class="links">
    <a href="http://twitter.com/dnevnik_ru" title="Дневник в Твиттере"><img src="http://static.staging.dnevnik.ru/images/icons/twitter.png" alt="Twitter"></a>
    <a href="http://www.facebook.com/dnevnik.ru" title="Дневник в Facebook"><img src="http://static.staging.dnevnik.ru/images/icons/facebook.png" alt="Facebook"></a>
    <a href="http://vkontakte.ru/club19853844" title="Дневник ВКонтакте"><img src="http://static.staging.dnevnik.ru/images/icons/vkontakte.png" alt="ВКонтакте"></a>
    <a href="http://www.odnoklassniki.ru/dnevnik.ru" title="Дневник в Одноклассниках"><img src="http://static.staging.dnevnik.ru/images/icons/odnoklassniki.png" alt="Одноклассники"></a>
    <a href="http://www.youtube.com/user/DnevnikVideoRussia" title="Дневник в YouTube"><img src="http://static.staging.dnevnik.ru/images/icons/youtube.png" alt="Youtube"></a>
    <a href="http://dnevnikru.livejournal.com" title="Дневник в Живом Журнале"><img src="http://static.staging.dnevnik.ru/images/icons/livejournal.png" alt="LiveJournal"></a>
</div>