
<div class="concord">
    <p class="concord__copyright">© 2007–2014 ООО «Дневник.ру»</p>
    <p>
        <a class="concord__agreement" href="http://staging.dnevnik.ru/terms/">Пользовательское соглашение</a>
    </p>
</div>