.dashboard
  min-width 300px
  margin 0 14px
  display block
  width 940px
  &__column
    float left
    &_right
      margin-left 20px
    &_left
      width 644px

  &__widget
    border 1px solid #dbe2e6
    border-radius 10px
    background-color #f4f8fe
    margin-bottom 20px
    &_settings
      width 940px
      min-height 100px
    &_groups
    &_schedule
    &_hometasks
      width 199px
      min-height 40px
      float left
    &_schedule
    &_hometasks
      margin-left 19px
    &_events
    &_calendar
      width 644px
      min-height 60px
      display inline-block

    &_news
    &_stats
      width 270px
    &_news
      height 182px
    &_stats
      height 171px


