<div class="profile">
    <div class="profile__column">
        <div class="profile__name">
            <a href="#" title="Мой профиль" class="profile__name__value">
                Виталий Лебедев
            </a>
        </div>
        <div class="profile__counters">
            <ul class="profile__counters__layout">
                <li class="profile__counters__layout-item">
                    <div>
                        <a title="Перейти в дневник.деньги" href="#">
                            <div class="profile__counters__item profile__counters__item_img profile__counters__item_img_yandex_dengi"></div>
                        </a>
                    </div>
                </li>
                <li class="profile__counters__layout-item">
                    <div>
                        <a href="#">
                            <div class="profile__counters__item profile__counters__item_img profile__counters__item_img_wallet"></div>
                            <div class="profile__counters__item profile__counters__item_value">100.00</div>
                        </a>
                    </div>
                </li>
                <li class="profile__counters__layout-item">
                    <a href="#">
                        <div class="profile__counters__item profile__counters__item_img profile__counters__item_img_invitations"></div>
                        <div class="profile__counters__item profile__counters__item_value">1</div>
                    </a>
                </li>
                <li class="profile__counters__layout-item">
                    <a href="#">
                        <div class="profile__counters__item profile__counters__item_img profile__counters__item_img_friends"></div>
                        <div class="profile__counters__item profile__counters__item_value">2</div>
                    </a>
                </li>
                <li class="profile__counters__layout-item">
                    <a href="#">
                        <div class="profile__counters__item profile__counters__item_img profile__counters__item_img_messages"></div>
                        <div class="profile__counters__item profile__counters__item_value">3</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="profile__avatar profile__column">
        <a href="#" class="profile__avatar__button">
            <img src="http://static.staging.dnevnik.ru/images/avatars/user/a.s.jpg" class="profile__avatar__button-img" />
        </a>
    </div>
    <div class="profile__logout profile__column">
        <a href="#" class="profile__logout__button"></a>
    </div>
</div>