<div class="promo_menu">
    <ul class="promo_menu__layout">
        <li class="promo_menu__layout-item">
            <a href="#" class="promo_menu__item">
                О проекте
            </a>
        </li>
        <li class="promo_menu__layout-item">
            <a href="#" class="promo_menu__item">
                Пресс-центр
            </a>
        </li>
        <li class="promo_menu__layout-item">
            <a href="#" class="promo_menu__item promo_menu__item_active">
                Служба поддержки
            </a>
        </li>
        <li class="promo_menu__layout-item">
            <a href="#" class="promo_menu__item">
                Контакты
            </a>
        </li>
    </ul>
</div>
