.promo_menu
  margin 0
  &__layout
    height 1.4em
    list-style none
    padding-left 0
    &-item
      float left
      font-size 1.2em
      margin 0 15px 0 0
      width auto
  &__item
    color rgb(34, 145, 190)
    text-decoration none
    &:hover
      color rgb(246, 146, 30)
    &_active
      font-weight bold
      color rgb(246, 146, 30)

